

<!-- Modal -->
<div id="newGroupModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Group</h4>
      </div>
      <div class="modal-body">
        <%= form_with scope: :group, url: groups_path, local: true do |form| %>
    		  <p>
    		    <%= form.label :name %></br>
    		    <%= form.text_field :name %></br>
    		  </p>
          <p><%= form.submit 'Submit', html: {id: 'newGroupBtn'}, class:"btn btn-default" %></p>
    		<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
