/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 */

.header {
	position: relative;
}

.navbar {
	position: absolute;
	background-color: rgba(98, 37, 153, 0.8);
	border: 0;
	margin-bottom: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: rgba(98, 37, 153, 0.8);
}

.nav > li > a > img {
	height: 50px;
}

.nav > li > a {
	font-size: 16px;
	line-height: 50px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
}

#body {
	padding: 2vh;
	background: #DDDDDD;
}

.well {
	min-height: 58vh;
}
